* {
  scroll-behavior: smooth;
  font-family: 'Roboto Slab';
}

@media only screen and (max-width: 1050px) {
  #aboutcontact {
    height: 200vh;
  }
  #aboutcontact-left {
    width: 100%;
    height: 50%;
  }
  #aboutcontact-right {
    width: 100%;
    height: 50%;
  }
}


/* Main page */


body {
  background: black;
  color: white;
  font-family:'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}


section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 98%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2vh;
}

a:visited {
  color: white;
}


#topsite_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


#proffesion-name {
  background: white;
  width: 53%;
  height: 100%;
  margin-right: 2%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

#aboutcontact {
  flex-direction: row;
}

#aboutcontact-left {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;;
  flex-direction: column;
  padding: 1vw;
}

#aboutcontact-left img {
  z-index: -1;
  width: 10%;
  margin: 1%;
}

#aboutcontact-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aboutme-socials {
  flex-direction: row;
}

#aboutme-socials a{
  font-size: 3vh;
  transition: 0.1s;
  margin-right: 1%;
  text-decoration: underline;
}

#aboutme-socials a:hover {
  background: white;
  color: black;
}


/* Contact form */

form {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


form button:first-child {
  margin-right: auto;
}


.form-text {
  background: black;
  color: white;
  padding: 1%;
  border: 2px solid white;
  width: 40%;
  height: 50%;
  font-family: 'Roboto Mono', serif;
  resize: none;
}

.form-text::placeholder {
  font-family: 'Roboto Mono', serif;
}


.form-email {
  background: black;
  color: white;
  border: 2px solid white;
  font-size: 100%;
  width: 40%;
  padding: 1%;
  margin-bottom: 2%;
  font-family: 'Roboto Mono', serif;
}

.form-email::placeholder {
  font-family: 'Roboto Mono', serif;
}


.form-button-send {
  margin-left: auto;
}

.form-button-send:hover {
  border: 2px solid white;
  background: white;
  color: black;
  text-decoration: underline;
}



.topsite-name {
  margin: 0;
  font-size: 5vh;
}


.topsite-proffesion{
  margin: 0;
  font-size: 3vh;
}

.text2  {
  font-size: 2.5vh;
}

.text1 {
  font-size: 4vh;
}


.just-button {
  margin: 2%;
  border: 2px solid white;
  padding: 1%;
  transition: 0.3s;
  background: black;
  color: white;
  cursor: pointer;
  font-family: 'Roboto Mono';
}

.just-button:hover {
  border: 2px solid white;
  background: white;
  color: black;
  text-decoration: underline;
}


.white-bg {
  background: white;
  color: black;
}
