* {
  scroll-behavior: smooth;
  font-family: 'Roboto Slab';
  font-weight: 300;

}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Main page */


body {
  background: black;
  color: white;
  font-family:'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 98%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
/* Top site section */

#topsite_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


#proffesion-name {
  background: white;
  width: 53%;
  height: 100%;
  margin-right: 2%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
}

.topsite-name {
  margin: 0;
  font-size: 5vh;
}


.topsite-proffesion{
  margin: 0;
  font-size: 3vh;
}

/* Project section(temp.) */

#project-card {
  background: black;
  border: 2px solid white;
  width:90%;
  height:80%
}

.text2  {
  font-size: 2.5vh;
}

.text1 {
  font-size: 4vh;
}


/* About me / Contact section */


#aboutme-contact {
  flex-direction: row;
}

#aboutme {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
}

.aboutme-bio {
  font-size: 3vh;
}

.aboutme-title {
  font-size: 4vh;
}

#aboutme-socials {
  flex-direction: row;
}

#aboutme-socials a{
  font-size: 3vh;
  transition: 0.1s;
  margin-right: 1%;
  text-decoration: underline;
}

#aboutme-socials a:hover {
  background: white;
  color: black;
}

.aboutme-line {
  width: 50%;
  color: white;
  text-align: left;
  margin-left: 0;
}

.aboutme-hidden-button {
  display: none;
  text-align: center;
}


/* Contact section */

#contact {
  display: none;
  background: white;
  width: 40vw;
  height: 100vh;
  position: absolute;
  right: 0;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-close-btn {
  background: url(arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2vh;
  left: 1vw;
}
form {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


form button:first-child {
  margin-right: auto;
}


.contact-title {
  font-size: 23px;
}

.form-text {
  background: white;
  color: black;
  padding: 1%;
  border: 2px solid black;
  width: 70%;
  height: 70%;
  font-family: 'Roboto Mono', serif;
  resize: none;
}

.form-text::placeholder {
  font-family: 'Roboto Mono', serif;
}


.form-email {
  background: white;
  color: black;
  border: 2px solid black;
  font-size: 100%;
  width: 70%;
  padding: 1%;
  margin-bottom: 2%;
  font-family: 'Roboto Mono', serif;
}

.form-email::placeholder {
  font-family: 'Roboto Mono', serif;
}


.form-button-send {
  margin-left: auto;
  margin: 2%;
  /* border: 2px solid white; */
  padding: 1%;
  transition: 0.3s;
  background: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.form-button-send:hover {
  border: 2px solid black;
  background: black;
  color: white;
  text-decoration: underline;
}

.form-email-copy {
  cursor: pointer;
  transition: 0.1s;
}

.form-email-copy:hover {
  text-decoration: underline;
}



.just-button {
  margin: 2%;
  /* border: 2px solid white; */
  padding: 1%;
  transition: 0.3s;
  background: black;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid white;
}

.just-button:hover {
  /* border: 2px solid white; */
  background: white;
  color: black;
  text-decoration: underline;
}




.white-bg {
  background: white;
  color: black;
}

.smaller-font {
  font-size: 2vh;
}

@media screen and (max-width: 1050px) {

  .topsite-button {
    margin-top: 5vh;

  }

  #contact {
    width: 100vw;
  }

}

@media screen and (max-width: 700px) {

  #aboutme {
    width: 90vw;
  }

  .form-text {
    width: 60%;
  }
  .form-email {
    width: 60%;;
  }
}